[submodule "libacoustics"]
	path = libacoustics
	url = git@github.com:gaudetteje/libacoustics.git
[submodule "libcrc"]
	path = libcrc
	url = git@github.com:gaudetteje/libcrc.git
[submodule "libdaq"]
	path = libdaq
	url = git@github.com:gaudetteje/libdaq.git
[submodule "libfileutils"]
	path = libfileutils
	url = git@github.com:gaudetteje/libfileutils.git
[submodule "libfilter"]
	path = libfilter
	url = git@github.com:gaudetteje/libfilter.git
[submodule "libformat"]
	path = libformat
	url = git@github.com:gaudetteje/libformat.git
[submodule "libgeometric"]
	path = libgeometric
	url = git@github.com:gaudetteje/libgeometric.git
[submodule "libmca"]
	path = libmca
	url = git@github.com:gaudetteje/libmca.git
[submodule "libneuro"]
	path = libneuro
	url = git@github.com:gaudetteje/libneuro.git
[submodule "libplot"]
	path = libplot
	url = git@github.com:gaudetteje/libplot.git
[submodule "libsproc"]
	path = libsproc
	url = git@github.com:gaudetteje/libsproc.git
